table {
    margin:auto;
    max-width: 100%;
}

td { padding: 10px; }

img {
    display:block;
    border:ridge;
    border-color:black;
}

.b { 
    border:none;
    display:inline;
    padding:auto;/*
    padding-left:25px;
    padding-right:25px;*/
}
