ul.a {
    list-style-type: none; 
    overflow: hidden; 
    background-color: black;
    table-layout:fixed;
}
  
li a.active{
    color: white; 
    padding: 05px 55px;
    text-decoration: none;
    float: left;
}

