ul.a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align:center;
    background-color: #333;
}

  
li a.active{
    display: block;
    color: white;
    padding: 05px 40px;
    text-decoration: none;
    float: left;
}

li a.active:hover {
    background-color: #111;
}

div {

    margin-top: 80px;
    margin-bottom: 100px;
    margin-right: 15rem;
    margin-left: 15rem;
    font-size: 110%
}

h1{text-align:center}

h2{text-align:center}

img{
    display:block;
    margin: 0 auto;
}    
